*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    color: rgb(223, 223, 223);
}
body{
    background-image: url(assets/background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
span{
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 14rem; 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Clock */
.clock_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #083f9e75;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    height: 30rem;
    width: 60rem;
    margin: 1rem;
    box-shadow: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.5);
}
#date{
    font-size: 4rem;
}
/* Stopwatch */
.button_container{
    display: flex;
}
.button{
    padding: 1rem;
    background-color:rgba(223, 223, 223, 0.7);
    color: #083f9e;
    font-size: 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.2);
}
.button:hover{
    cursor: pointer;
    background-color:rgb(223, 223, 223);
    transition: .3s;
}
/* Timer */
.timer_container{
    height: 62rem;
    width: 60rem;
    background-color: #083f9e75;
    backdrop-filter: blur(1rem);
    box-shadow: 0rem 0rem 1rem 0.25rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    position: relative;
}
.timer_svg{
    width: 400px;
    height: 400px;
}
.timer_g{
    fill: none;
    stroke: none;
}
.timer_circle{
    stroke-width: 0.05rem;
    stroke-dasharray: 0.1rem;
    stroke: rgb(223, 223, 223);
}
#timer_span{
    font-size: 7rem;
    position: absolute;
    margin: auto;
    top: 21rem;
}
.timer_form input{
    width: 8rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 0.2rem;
    background-color: rgba(223, 223, 223, 0.7);
    transition: .3s;
}
.timer_form input:hover{
    background-color: rgb(223, 223, 223);
    
}